.body{
    min-height: 100%;
    background: radial-gradient(at top left, rgb(218, 208, 228) 0%, rgb(105, 105, 105) 100%);
    background-repeat: no-repeat;
}

.p1 {
    font-family: 'Montserrat', sans-serif;
     color: #08090C;
     font-size: 20px;
  }


